rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read and write typing scores
    match /typingScores/{document=**} {
      allow read, write: if true;
    }
    
    // Allow anyone to read and write noticeboard posts
    match /noticeboardPosts/{document=**} {
      allow read, write: if true;
    }
  }
}
